body {
  background-color: #ecfdf5;
  width: 550px;
  height: 550px;
  margin: auto;
  margin-top: 50px;
  font-family: "Inter";
}
h1 {
  color: #2b283a;
  text-align: left;
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: -0.05em;
}
span {
  color: #10b981;
}
h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #6b7280;
}
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 17px 9px 15px;
  gap: 12px;
  width: 191px;
  height: 42px;
  background: #10b981;
  border-radius: 6px;
  border: 0.2px solid #cccaca;
  color: #ffffff;
}
#password-boxes {
  display: inline-flex;
  justify-content: space-between;
  position: absolute;
  top: 300px;
  border-top: 1px solid #d5d4d8;
  padding-top: 30px;
  color: #5def92;
}
#password-boxes p {
  background: #273549;
  border-radius: 6px;
  width: 211px;
  height: 39px;
  margin-right: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}
/* #user-input-el {
  position: relative;
  text-align: right;
  top: -50px;
  left: -110px;
  color: #6b7280;
}
input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #6b7280;
} */
